﻿<h1>Login</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" />
    </div>
    <div class="mt-3">
        <label class="form-label">Password</label>
        <input type="text" class="form-control" name="password" />
    </div>
    <button class="btn btn-success mt-3">Login</button>
</form>

<h2 class="text-danger">@ViewData["Error"]</h2>